/* Global rules */

/* Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --dark-1: #060a11;
  --dark-2: #404152;
  --dark-3: #aaaab7;
  --light-dark: #dfdfdf;
  --blue: #16b4f2;
  --dark-blue: #4c32e0;
  --orange: #f1b000;
  --white: #ffffff;
  --header-bg: linear-gradient(239.24deg, #f4f7fe 22.34%, #fbfcff 83.1%);
  --large-font: "Manrope", sans-serif;
  --small-font: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header,
footer {
  padding: 0px 18vw;
}

main > section {
  padding: 0px 18vw;
}

/* Navigation rules */

.navigation {
  font-family: var(--small-font);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.navigation-links {
  display: flex;
}

nav > div > a {
  margin: 0px 20px;
  text-decoration: none;
  color: var(--dark-2);
}

/* Main header rules */

.hero-section {
  background: radial-gradient(
      circle at 100px top,
      rgba(185, 255, 226, 1),
      transparent 700px
    ),
    radial-gradient(
      circle at top right,
      rgba(205, 246, 255, 1),
      transparent 700px
    ),
    radial-gradient(
      circle at 1500px top,
      rgba(255, 251, 218, 1),
      transparent 700px
    ),
    var(--header-bg);
}

.main-header {
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-family: var(--large-font);
  font-size: 64px;
  font-weight: 800;
  line-height: 125%;
  color: var(--dark-1);
}

.hero-paragraph {
  margin-bottom: 40px;
  width: 70%;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 160%;
}

/* Primary and secondary buttons and text color */

.light-text {
  color: var(--white);
}
.dark-text {
  color: var(--dark-1);
}

.paragraph-text {
  color: var(--dark-2);
}

.btn {
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  padding: 18px 24px;
  background-color: var(--dark-1);

  border: none;
}

.btn-secondary {
  padding: 14px 22px;
  background: rgba(7, 12, 19, 0.04);
  border: 1px solid rgba(7, 12, 19, 0.1);
}

/* Secondary headers */

.header-secondary {
  font-family: var(--large-font);
  font-size: 48px;
  font-weight: 800;
  line-height: 125%;
}

.header-small {
  font-family: var(--large-font);
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: var(--dark-2);
}

/* Services section */

.services {
  padding-top: 170px;
  background: radial-gradient(
      circle at 15% 50%,
      rgba(213, 255, 198, 0.5),
      transparent 500px
    ),
    radial-gradient(
      circle at 85% 35%,
      rgba(182, 255, 251, 0.5),
      transparent 500px
    );
}

.service-list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  margin: 0px 30px 30px 0px;
  max-width: 370px;
  text-align: center;
  background-color: var(--white);
  border: none;
  padding: 50px 20px;
  box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.04);
}

.service-paragraph {
  color: #0a2533;
  font-family: var(--small-font);
  font-weight: 400px;
  font-size: 16px;
  line-height: 28px;
}

/* Projects section */

/* Large section */
.projects {
  margin-top: 120px;
  background: radial-gradient(
    circle at 10% 30%,
    rgba(184, 255, 225, 0.5),
    transparent 500px
  );
}

.project-list {
  margin-top: 70px;
}

.project-card-big {
  max-height: 550px;
  display: flex;
  align-items: center;
  background-color: #ffefb5;
}

.big-project-text {
  padding-left: 80px;
  margin-top: auto;
}

.big-project-text > h2 {
  margin: 0;
}

.big-project-caption {
  font-size: 16px;
  font-family: var(--small-font);
  font-weight: 400;
}

.project-btn {
  margin: 80px 0px;
}

.project-image {
  padding-top: 15px;
  filter: drop-shadow(0px 40px 94px rgba(0, 0, 0, 0.19));
}

/* Small section */

.project-card-small {
  margin-top: 30px;
  display: flex;
}

.project-case {
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.small-project-text {
  margin-top: auto;
}

.project-image-small {
  padding-top: 35px;
  filter: drop-shadow(0px 54px 70px rgba(0, 0, 0, 0.15));
}

.small-project-paragraph {
  font-family: var(--small-font);
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
}

.view-project-first {
  max-height: 400px;
  background-image: url(./resources/images/app\ image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.view-project-second {
  max-height: 400px;
  background-image: url(./resources/images/app\ image-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.view-project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 80px;
  z-index: 50;
  text-align: center;
}

.view-light {
  background: rgba(0, 74, 255, 0.7);
}

.view-deep {
  background: rgba(0, 43, 149, 0.7);
}

.view-project-text > button {
  margin-top: 40px;
}

.view-project > div > p {
  margin: 0;
  padding: 0;
}

.light-blue-bg {
  background: #e6f1ff;
}

.deep-blue-bg {
  background: #5960ff;
}

.left-margin {
  margin-left: 30px;
}

.right-margin {
  margin-right: 30px;
}

/* CV section */

.cv-bg {
  padding-top: 250px;
  padding-bottom: 48px;
  background: radial-gradient(
      circle at 50% 450px,
      rgba(216, 255, 133, 0.5),
      transparent 450px
    ),
    radial-gradient(
      circle at 600px 600px,
      rgba(255, 199, 0, 0.5),
      transparent 450px
    ),
    radial-gradient(
      circle at 1300px 600px,
      rgba(255, 199, 0, 0.5),
      transparent 450px
    ),
    radial-gradient(
      circle at 650px 1200px,
      rgba(196, 219, 254, 1),
      transparent 500px
    ),
    radial-gradient(
      circle at 1300px 1200px,
      rgba(196, 219, 254, 1),
      transparent 500px
    );
}

.cv {
  padding: 110px 80px;
  background: var(--white);
  border: 1px solid #ecebe6;
}

.cv-title {
  display: inline-block;
  font-family: var(--large-font);
  font-weight: 800;
  font-size: 40px;
  line-height: 125%;
  background: linear-gradient(92.08deg, #4c32e0 -0.96%, #16b4f2 109.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cv-subtitle {
  font-family: var(--large-font);
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
  padding-top: 78px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}

.faded-text {
  color: var(--dark-3);
}

.cv-subtitle > h6 {
  margin: 0;
  padding: 0;
}

.cv-dual-title {
  display: flex;
  justify-content: space-between;
}

.education-title {
  flex-grow: 0.4;
}

.work-education-info {
  display: flex;
  justify-content: space-between;
}

.education {
  flex-grow: 0.18;
}

.work-education-paragraph {
  font-family: var(--small-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 170%;
  color: var(--dark-2);
}

.client-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.client-list > img {
  margin-right: 120px;
  margin-bottom: 60px;
}

.skills-tools-info {
  display: flex;
  justify-content: space-between;
}

.tools-title {
  flex-grow: 0.37;
}

.skills {
  font-family: var(--large-font);
  font-weight: 800;
  font-size: 20px;
  line-height: 125%;
  width: 70%;
}

.tools > img {
  margin-top: 20px;
  margin-right: 50px;
}

/* Feedback section */

.feedbacks {
  margin-top: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #070c13;
}

.feedback-paragraph {
  font-family: var(--large-font);
  font-size: 32px;
  font-weight: 700;
  line-height: 145%;
  padding-right: 250px;
}

.avatar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 250px;
}

.main-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-avatar > img {
  vertical-align: middle;
  height: 86px;
  width: 86px;
  border-radius: 50%;
}

.main-avatar > div {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.main-avatar > div > h6 {
  font-family: var(--large-font);
  font-size: 20px;
  font-weight: 800;
  line-height: 125%;
}

.main-avatar > div > p {
  font-family: var(--small-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--light-dark);
  line-height: 175%;
  margin-left: 8px;
}

.other-avatar > img {
  margin-right: 10px;
  vertical-align: middle;
  height: 54px;
  width: 54px;
  border-radius: 50%;
}

/* Footer section */

.footer {
  margin-top: 100px;
  background: radial-gradient(
    circle at bottom,
    rgba(246, 255, 142, 0.5),
    transparent 700px
  );
}

.footer-text {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 150px;
}

.footer-logo-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 120px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-logo > img {
  margin-right: 18px;
}

.footer-nav > a {
  margin-right: 40px;
  text-decoration: none;
  font-family: var(--small-font);
  font-size: 16px;
  font-weight: 400px;
  line-height: 138%;
  color: var(--dark-2);
}
