/* Global rules */

/* Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --dark-1: #060a11;
  --dark-2: #404152;
  --dark-3: #aaaab7;
  --light-dark: #dfdfdf;
  --blue: #16b4f2;
  --dark-blue: #4c32e0;
  --orange: #f1b000;
  --white: #ffffff;
  --header-bg: linear-gradient(239.24deg, #f4f7fe 22.34%, #fbfcff 83.1%);
  --large-font: "Manrope", sans-serif;
  --small-font: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header,
main,
footer {
  padding: 0px 18vw;
}

/* Navigation rules */

.navigation {
  font-family: var(--small-font);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.navigation-links {
  display: flex;
}

#no-margin {
  margin: 0;
}

nav > div > a {
  margin: 0px 20px;
  text-decoration: none;
  color: var(--dark-2);
}

/* Main header rules */

.hero-section {
  background-image: var(--header-bg);
}

.main-header {
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-family: var(--large-font);
  font-size: 64px;
  font-weight: 800;
  line-height: 125%;
  color: var(--dark-1);
}

.hero-paragraph {
  margin-bottom: 40px;
  width: 70%;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 160%;
}

/* Primary and secondary buttons and text color */

.light-text {
  color: var(--white);
}
.dark-text {
  color: var(--dark-1);
}

.paragraph-text {
  color: var(--dark-2);
}

.btn {
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  padding: 18px 24px;
  background-color: var(--dark-1);

  border: none;
}

.btn-secondary {
  padding: 14px 22px;
  background: rgba(7, 12, 19, 0.04);
  border: 1px solid rgba(7, 12, 19, 0.1);
}

/* Secondary headers */

.header-secondary {
  font-family: var(--large-font);
  font-size: 48px;
  font-weight: 800;
  line-height: 125%;
}

.header-small {
  font-family: var(--large-font);
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: var(--dark-2);
}

/* Services section */

.services {
  margin-top: 214px;
}

.service-list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  margin: 0px 30px 30px 0px;
  max-width: 370px;
  max-height: 402px;
  text-align: center;
  background-color: var(--white);
  border: none;
  padding: 50px 20px;
  box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.04);
}

.service-paragraph {
  color: #0a2533;
  font-family: var(--small-font);
  font-weight: 400px;
  font-size: 16px;
  line-height: 28px;
}

/* Projects section */

/* Large section */
.projects {
  margin-top: 120px;
}

.project-list {
  margin-top: 70px;
}

.project-card-big {
  max-height: 550px;
  display: flex;
  align-items: center;
  background-color: #ffefb5;
}

.big-project-text {
  padding-left: 80px;
  margin-top: auto;
}

.big-project-caption {
  font-size: 16px;
  font-family: var(--small-font);
  font-weight: 400;
}

.project-btn {
  margin: 80px 0px;
}

.project-image {
  padding-top: 15px;
  filter: drop-shadow(0px 40px 94px rgba(0, 0, 0, 0.19));
}

/* Small section */

.project-card-small {
  margin-top: 30px;
  display: flex;
}

.project-case {
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.small-project-text {
  margin-top: auto;
}

.project-image-small {
  padding-top: 35px;
  filter: drop-shadow(0px 54px 70px rgba(0, 0, 0, 0.15));
}

.small-project-paragraph {
  font-family: var(--small-font);
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
}

.view-project-first {
  max-height: 400px;
  background-image: url(./resources/images/app\ image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.view-project-second {
  max-height: 400px;
  background-image: url(./resources/images/app\ image-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.view-project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 80px;
  z-index: 50;
  text-align: center;
}

.view-light {
  background: rgba(0, 74, 255, 0.7);
}

.view-deep {
  background: rgba(0, 43, 149, 0.7);
}

.view-project-text > button {
  margin-top: 40px;
}

.view-project > div > p {
  margin: 0;
  padding: 0;
}

.light-blue-bg {
  background: #e6f1ff;
}

.deep-blue-bg {
  background: #5960ff;
}

.left-margin {
  margin-left: 30px;
}

.right-margin {
  margin-right: 30px;
}
